@import "./base.css";

/* body {
  background-color: #f8f8f8;
} */

#app {
  width: 100vw;
  margin: 0 auto;
  /* padding: 0 3rem; */
  font-weight: normal;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

a {
  text-decoration: none;
  color: var(--vt-c-text-light-2);
}
a:active {
  color: var(--color-heading);
}
.main-color {
  color: var(--color-heading);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-heading);
    /* font-weight: bold; */
  }
}
/* @media (hover: hover) {
  a:active {
    color: #2185c5;
  }
} */
/* a:visited {
  color: #2185c5;
} */
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: top;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
